<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Walk WatchKit Extension Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Walk! WatchKit App (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Walk! WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Walk!.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>174225B01E4925DE00972AFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>174225C41E4925DE00972AFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>174225CD1E4925DE00972AFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>174226151E4929D800972AFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
